@import "../../global.scss";

.works {
  background-color: crimson;
  display: flex;
  .slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .slides-wrapper {
      height: 350px;
      display: flex;
      position: absolute;
      left: 0;
      transition: all 1s ease;
      .slide {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        .content {
          width: 700px;
          max-width: 70%;
          height: 100%;
          background-color: white;
          border-radius: 20px;
          display: flex;
          align-items: center;
          overflow: hidden;
          @include maxSmall {
            max-width: 90%;
          }
          @include maxMobile {
            height: 80%;
          }
          .left {
            flex: 1;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            .left-container {
              width: 90%;
              .img-container {
                width: 40px;
                height: 40px;
                background-color: rgb(245, 179, 155);
                border-radius: 50%;
                display: grid;
                place-content: center;
                img {
                  width: 25px;
                }
              }
              h2 {
                font-size: 20px;
                margin: 20px 0;
              }
              p {
                font-size: 13px;
                margin-bottom: 20px;
              }
              span {
                font-weight: 600;
                font-size: 12px;
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }
          .right {
            flex: 2;
            height: 100%;
            display: grid;
            place-content: center;
            @include maxMobile {
              flex: 1;
              overflow: hidden;
            }
            img {
              width: 400px;
              object-fit: cover;
              transform: rotate(-10deg);
              
            }
          }
        }
      }
    }
    .arrow {
      width: 50px;
      height: 50px;
      opacity: 0.6;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @include maxSmall {
        display: none;
      }
      &.left {
        transform: rotate(180deg);
        left: 100px;
        @include maxLarge {
          left: 50px;
        }
      }
      &.right {
        right: 100px;
        @include maxLarge {
          right: 50px;
        }
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
