.app {
  height: 100vh;
  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    };
    & > * { // each direct child element
      width: 100%;
      height: 100%;
      scroll-snap-align: start;
    }
  }
}
